*
{
background-color: rgba(61, 121, 190, 0.979);

}


#header
{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-shadow: 10px 10px 5px black;          
}

#bloc1
{
display: flex;
justify-content: space-around;




}

#bloc2
{
    display: flex;
    justify-content: space-around;
    
}

.nom:nth-child(1)
{
    text-align:center ;
    text-decoration: none;
    
    
}
   


.element1
{
    height: 15%;
    width: 15%;
}

.element2
{
    height: 250px;
    width: 15%;
}

.element3
{
    width: 15%;
}

.element4
{
    width: 15%;
}
.classe
{
    display: flex;
justify-content: space-around;
}

h1
{
    text-decoration: underline;
}

